<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reviews">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"/>
        <activity android:name=".JoinActivity"/>
        <activity android:name=".SocialActivity"/>
        <activity android:name=".MypageActivity"/>
        <activity android:name=".MyReviewActivity"/>
        <activity android:name=".MyReviewDetailActivity"/>
        <activity android:name=".ReviewWriteActivity"/>
        <activity android:name=".ReviewOrderActivity"/>
        <activity android:name=".MovieInfoActivity"/>
        <!-- 아래 ".MainActivity"에 자신이 보고싶은 xml의 java파일 이름을 넣으면 애뮬레이터 실행 시 볼 수 있다.-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>