<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reviews">

    <!--인터넷 권한 선언-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--SMS 전송 권한 선언-->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!--이미지 업로드를 위한 권한 선언-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".GlobalVariable"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_reviews2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_reviews2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginIdFindActivity"/>
        <activity android:name=".LoginIdShowActivity"/>
        <activity android:name=".LoginPwFindActivity"/>
        <activity android:name=".LoginPwShowActivity"/>
        <activity android:name=".JoinActivity"/>
        <activity android:name=".SocialActivity"/>
        <activity android:name=".MypageActivity"/>
        <activity android:name=".MypageBeforeLogin"/>
        <activity android:name=".MyReviewActivity"/>
        <activity android:name=".ReviewWriteActivity"/>
        <activity android:name=".ReviewOrderActivity"/>
        <activity android:name=".MovieInfoActivity"/>
        <activity android:name=".MovieNewListActivity"/>
        <activity android:name=".MovieRatingRankActivity"/>
        <activity android:name=".MovieRecommendRankActivity"/>
        <activity android:name=".MyContentActivity" />
        <activity android:name=".SearchResultActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".LoadingActivity" />
        <!-- 아래 ".MainActivity"에 자신이 보고싶은 xml의 java파일 이름을 넣으면 애뮬레이터 실행 시 볼 수 있다.-->
        <activity android:name=".MainActivity" >
        </activity>
    </application>
</manifest>